table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	.sort-trigger {
		span {
			padding-right: 0.75rem;
			position: relative;
		}
		&.active {
			&.sort-asc,
			&.sort-desc {
				span:after {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					display: block;
					position: absolute;
					right: 0;
					top: 50%;
					@include transform(translate(0, -50%));
				}
			}
			&.sort-asc {
				span:after {
					border-width: 0 0.25rem 0.25rem 0.25rem;
					border-color: transparent transparent $black transparent;
				}
			}
			&.sort-desc {
				span:after {
					border-width: 0.25rem 0.25rem 0 0.25rem;
					border-color: $black transparent transparent transparent;
				}
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
}

table, th, td {
	border: 1px solid $black;
}