@mixin transform($transforms) {
		-ms-transform: $transforms;
	-webkit-transform: $transforms;
			transform: $transforms;
}

%clearfix {
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}