.container {
	max-width: $max-width;
	margin: auto;
	position: relative;
	box-sizing: border-box;
	padding: 0 1.25rem;
	@extend %clearfix;
}

.block-wrap {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: auto;
	.block-col {
		width: 1px;
		display: table-cell;
		vertical-align: top;
		box-sizing: border-box;
	}
}

.flex-wrap {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	.flex-col {
		width: 100%;
		@extend %clearfix;
	}
}